<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>คณะที่ปรึกษารัฐมนตรีว่าการกระทรวงสาธารณสุข</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">


		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body class="body-bg">
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <!-- <div class="logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div> -->
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <ul id="navigation">
                                <li><a href="index.html">หน้าหลัก</a></li>
                                <li><a href="about.html">คณะที่ปรึกษา</a>
                                    <ul class="submenu">
                                        <li><a href="source.html">ที่มาของการตั้งที่ปรึกษา</a></li>
                                        <li><a href="history.html">ที่ปรึกษา</a></li>
                                    </ul>
                                </li>
                                <li><a href="services.html">ไทม์ไลน์</a></li>
                                <li><a href="work.html">เอกสารเผยแพร่</a>
                                    <ul class="submenu">
                                        <li><a href="blog.html">บทความ</a></li>
                                        <li><a href="poster.html">โปสเตอร์</a></li>
                                        <li><a href="caption.html">Caption</a></li>
                                        <li><a href="gallery.html">แกลอรี่</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">ข้อคิดที่ปรึกษา</a></li>
                                <li><a href="contact.html">ข่าวที่น่าสนใจ</a></li>
                            </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->
                        <div class="header-btns d-none d-lg-block f-right">
                            <a href="#" class="btn header-btn">Contact Us</a>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
      

        <!-- Our Info start -->
        <!--? Professional Services Start -->
        <div class="professional-services section-bg d-none d-md-block" data-background="assets/img/gallery/section_bg04.jpg"></div>
        <div class="profession-caption">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-12">
                            <!-- Section Tittle -->
                            <div class="section-tittle profession-details">
                                <span>ข้อคิดที่ปรึกษาคณะรัฐมนตรีว่าการกระทรวงสาธารณสุข</span>
                                <h2>นายแพทย์ศุภมิตร ชุณห์สุทธิวัฒน์ </h2>


                                <p><div class="blog_details">
                                   <h2 style="color: #2d2d2d;">1.บทบาท ความสำคัญ การดำเนินการ ของคณะที่ปรึกษาคณะรัฐมนตรี กรณีโรคโควิด 19</h2>
                                   <!-- <ul class="blog-info-link mt-3 mb-4">
                                      <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                      <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                   </ul> -->
                                   <p class="excert text-justify">

                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คณะที่ปรึกษาเป็นกลไกถูกจัดตั้งขึ้นโดยแนวคิดท่านรัฐมนตรีกระทรวงสาธารณสุข (นายอนุทิน ชาญวีรกูล) เพื่อเป็นคณะทำงานที่ช่วยคิดในการแก้ไขปัญหาโรคโควิด 19 เนื่องจากเป็นปัญหาใหญ่และมีความซับซ้อน เพื่อเป็นแนวทางใช้การบริหารงานกระทรวงสาธารณสุขซึ่งมีบทบาทสำคัญในการตอบสนองเพื่อแก้ปัญหาโรคโควิด 19 และในฐานะรองนายกรัฐมนตรี ท่านสามารถนำองค์ความรู้เข้าสู่การตัดสินใจในระดับคณะรัฐมนตรีได้ด้วย โดยการสรรหาคณะที่ปรึกษาส่วนใหญ่จะประกอบด้วยบุคคลเกษียณอายุราชการแล้ว และเป็นผู้ที่มีประสบการณ์และมีองค์ความรู้ที่กว้างขวางมากพอ และข้อเสนอที่ออกไปจะไม่ได้จำกัดเฉพาะเชิงวิชาการอย่างเดียวแต่จะเป็นข้อเสนอในระดับยุทธศาสตร์และนโยบาย

                                   </p>
                                   <p class=" text-justify">
                                      <b>2.	บทเรียนที่ได้จากการแก้ปัญหาโรคระบาดครั้งที่ผ่านมา และนำมาใช้กับการจัดการปัญหานี้อย่างไร</b><br>
                                      <b>การแก้ปัญหาโรคโควิด 19 เป็นเรื่องที่ใหญ่และซับซ้อนกว่าประสบการณ์เดิมมาก แต่การมีบทเรียนจากโรคระบาดครั้งก่อนมาแล้วจะเป็นการช่วยเตือนตัวเรา </b>จากระบาดครั้งก่อนทำให้เรามีการตั้งโครงการ แผนงาน และจัดตั้งหน่วยงานเพื่อรองรับสถานการณ์นั้นๆ โดยสิ่งที่เตรียมทำให้เราได้จะประกอบด้วย ระบบงาน คนที่มีความรู้ แผนงาน องค์ความรู้ ระบบการเฝ้าระวังโรคที่ปรับเพื่อค้นหาโรคใหม่ๆได้ เรื่องของห้องปฏิบัติการที่เพิ่มประสิทธิภาพที่ทันสมัย รองรับการตรวจเชื้อใหม่ๆได้ และทำงานอย่างเป็นระบบเป็นเครือข่ายทั้งประเทศ และยังมีด้านการแพทย์ที่พัฒนาขึ้นมา ทั้งทีมแพทย์พยาบาลที่ดูแลเกี่ยวกับโรคติดเชื้อ ระบบการป้องกันติเชื้อในโรงพยาบาล มีอุปกรณ์ ห้องแยกโรค เครื่องช่วยชีวิต รวมถึงการการผลิตยาและวัคซีน ทั้งหมดคือการเตรียมมาควบคู่กับการตอบโต้โรคระบาดครั้งก่อนๆ พอมาถึงปัญหาโรคโควิด 19 เราก็ได้ใช้การเตรียมตัวการทำงานของรอบก่อนมาใช้ตอบโต้ ซึ่งที่ผ่านมาเราได้มีการเตรียมตัว พัฒนาศักยภาพในทุกๆด้านมาเรื่อยๆ สะสมมาเรื่อยๆ </br>

                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <b>สิ่งสำคัญเราต้องมีการเตรียมล่วงหน้าเป็นเวลานาน ไม่ว่าจะเป็น การพัฒนาระบบเฝ้าระวังโรค ห้องปฏิบัติการ การดูแลผู้ป่วย การควบคุมการติดเชื้อในโรงพยาบาล การเตรียมเวชภัณฑ์ การพัฒนาศักยภาพผลิตเองให้ได้ การสื่อสาร การจัดตั้งให้มีหน่วยงานรับผิดชอบ มีแผนงานที่ชัดเจน มีการลงทุน มีงบประมาณอย่างจริงจัง </b></br>

  									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  									<b>โรคโควิด 19 ครั้งนี้ เราพบว่าปัญหามันใหญ่นอกเหนือระบบสาธารณสุข บทเรียนสำคัญคือเป็นเรื่องของหลายภาคส่วนที่ต้องเข้ามาช่วยกันแก้ปัญหา</b>
									ซึ่งจะเห็นว่ากระทรวงสาธารณสุขต้องทำงานในช่วงต้น ในช่วงผู้ป่วยเข้ามาแรกๆ จะต้องควบคุมการกระจายให้วงเล็กที่สุด แต่การเฝ้าระวังควบคุม ดูแลผู้ป่วยเป็นเพียงแค่ส่วนหนึ่งเท่านั้น เพราะผลกระทบเราพบว่ากระจายไปเป็นวงกว้าง ผลกระทบกว้างมากลึกมาก ครอบคลุมไปทั้งหมด

                                      <b>ดังนั้นการรับผลกระทบและการแก้ไขปัญหาต้องร่วมกับทุกภาคส่วนอย่างจริงจัง </b>
										ดังนั้นการประสานงานเป็นเรื่องสำคัญมากๆ แต่การประสานงานทั่วไปมักเป็นจุดอ่อน ต้องพัฒนาให้ดี ทั้งการประสานงานทั้งภายในและภายนอกกระทรวงสาสุข 

									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									จากอดีตผลกระทบจากโรคระบาดครั้งก่อนก็เคยกระทบกับภาคส่วนอื่นอยู่บ้างแต่ไม่รุนแรงและเป็นระยะสั้น เศรษฐกิจจะชะลอตัวบ้าง ลดระดับบ้าง แต่ก็ไม่นานแล้วค่อยๆฟื้น แต่โรคโควิด 19 ครั้งนี้ มันนานและรุนแรง จะเห็นได้ว่าการล็อคดาวน์ทั้งในประเทศและต่างประเทศ 

  									<b>โรคโควิด 19 ครั้งนี้ เราพบว่าปัญหามันใหญ่นอกเหนือระบบสาธารณสุข บทเรียนสำคัญคือเป็นเรื่องของหลายภาคส่วนที่ต้องเข้ามาช่วยกันแก้ปัญหา</b>
									ซึ่งจะเห็นว่ากระทรวงสาธารณสุขต้องทำงานในช่วงต้น ในช่วงผู้ป่วยเข้ามาแรกๆ 

 									<p class=" text-justify">
									<b>3. ปัจจัยสำคัญที่ทำให้ไปสามารถรักษาควบคุมระดับการระบาดของโควิด 19 ครั้งนี้ได้</b><br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									ปัจจัยสำคัญ คือถ้าเราไม่มีระบบบัญชาการ ประสานงาน สั่งการที่เข้มแข็งพอ ทั้งหมดจะไม่เกิด 
									การรวมศูนย์ ความสามารถที่จะประสานทุกภาคส่วน รวบรวมความร่วมมือทุกภาคส่วน ความร่วมมือจากประชาชนได้ ถือเป็นเรื่องที่สำคัญมาก ซึ่งจากอดีตอาจไม่ชัดเจนเท่าครั้งนี้ แต่ก็ยังมีปัจจัยอื่นๆร่วมด้วย ไม่ว่าจะเป็นระบบสาธารณสุขไทยที่เข้มแข็ง จะเห็นว่าครั้งนี้ไทยเข้าตอบโต้สถานการณ์ได้เร็ว เราสามารถป้องกันการนำเชื้อเข้าประเทศได้ และป้องกันและควบคุมการระบาดในประเทศได้ดีพอสมควร ภายใต้ศักยภาพที่เรามีจำกัด จะเห็นว่าการเริ่มต้นรับมือตอบโต้กับสถานการณ์การณ์การระบาดครั้งนี้ได้รวดเร็วเป็นผลมาจากการบัญชาการที่มีประสิทธิภาพ นอกจากนี้ยังมีภาคประชาชนที่เชื่อฟังและร่วมมือทำตาม เมื่อเปรียบเทียบกับหลายประเทศที่ประชาชนไม่ให้ความร่วมมือมักจะมียอดผู้ติดเชื้อสูง </br>


									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									จะเห็นว่า<b>ความสำเร็จสำคัญเกิดจากการที่เรามีระบบบัญชาการเหตุการณ์ที่ดี และมีปัจจัยเสริมอีกอย่างประการไม่ว่าจะเป็นการที่ประชาชนให้ความร่วมมือ การมีระบบประกันสุขภาพที่ดูแลผู้ป่วย และการกระจายอำนาจการบริหารจัดการไปสู่จังหวัดอย่างเป็นระบบโดยมีเครื่องมือสำคัญ คือกฎหมาย เช่น 
									พรบ. โรคติดต่อ พ.ศ. 2558 พรก. ฉุกฉิน และการที่ ศบค. ใช้อำนาจสั่งการได้อย่างมีประสิทธิภาพ ทั้งหมดถือว่าเป็นปัจจัยที่ทำให้ประเทศไทยสามารถรับมือกับสถานการณ์การระบาดของโรคโควิด 19 ได้ค่อนข้างดี</b>
									
									<p class=" text-justify">
									<b>4. ข้อคิดที่อยากจะฝาก</b><br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อยากฝากถึง
									<b>การประสานงานในระดับหน่วยงานในกระทรวงสาธารณสุข โดยเฉพาะอย่างยิ่งในส่วนกลาง ต้องประสานความร่วมมือให้ดียิ่งขึ้น และการประสานระหว่างภาคส่วนสาธารณสุขและภาคส่วนอื่น โดยใช้บทเรียนจากโควิด 19 ให้เห็นความสำคัญและพัฒนาการประสานงานให้ดี มีประสิทธิภาพ 
									เพื่อรับมือวิกฤติอื่นๆ และสุดท้ายต้องเน้นการสร้างบุคลากรแกนนำ ที่มีความรู้ที่เกี่ยวข้องให้มีเพียงพอ</b>



                                   </p>
                              

                                </div>



                                </div>
                             </div> </p>
                            </div>
                    </div>
                   <!--  <div class="col-lg-4 col-md-6">
                        <a href="about.html" class="btn btn3">Discover More About Ous</a>
                    </div> -->


  <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <!-- <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder='Search Keyword'
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside> -->








                </div>
            </div>
        </div>
 </div>





                </div>
            </div>
        </div>
        <!-- Services Ara End -->
        <!-- Brand Area Start -->



        <div class="brand-area pt-120 pb-120">
            <div class="container">
                <div class="brand-active brand-border pt-50 pb-40">
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand1.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand3.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand4.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->
        <!-- Want To work -->
        <section class="wantToWork-area w-padding2">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>Advisory Board of the Minister of Public Health</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <a href="#" class="btn btn-black f-right">Contact Us</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area footer-bg">
           <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">Grabbing the concsumer’s attention isn’t enough you have to keep that attention for at least a.</p>
                                    </div>
                                </div>
                                <div class="footer-number">
                                    <h4><span>+564 </span>7885 3222</h4>
                                    <p>youremail@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Useful Links</h4>
                                </div>
                                <div class="footer-cap">
                                    <span>New York</span>
                                    <p>123 East 26th Street, Fifth Floor, New York, NY 10011</p>
                                </div>
                                <div class="footer-cap">
                                    <span>Japan</span>
                                    <p>123 East 26th Street, Fifth Floor, New York, NY 10011</p>
                                </div>
                            </div>
                        </div>
                        <!-- Instagram -->
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Instagram Feed</h4>
                                </div>
                                <div class="instagram-gellay">
                                    <ul class="insta-feed">
                                        <li><a href="#"><img src="assets/img/gallery/instagram1.png" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/gallery/instagram2.png" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/gallery/instagram3.png" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/gallery/instagram4.png" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/gallery/instagram5.png" alt=""></a></li>
                                        <li><a href="#"><img src="assets/img/gallery/instagram6.png" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <span>Follow Us</span>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Nice-select, sticky -->
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>

    </body>
</html>
